.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 10rem;
  background-color: #21212150;
  backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}

.header-container nav {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.header-container nav a {
  color: #fff;
  padding: 0.6rem;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: filter 0.25s;
}

.header-container nav a.button {
  padding: 0.6rem 2rem;
}

.header-container nav a:hover {
  filter: brightness(0.6);
}

.menu {
  width: 2rem;
  height: 0.2rem;
  background: #fff;
  position: relative;
  cursor: pointer;
  display: none;
}

.menu::before,
.menu::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background: #fff;
  cursor: pointer;
  transition: 0.6s;
}

.menu::before {
  bottom: 0.5rem;
}

.menu::after {
  top: 0.5rem;
}

.menu.active {
  background-color: transparent;
}

.menu.active::before {
  bottom: 0;
  transform: rotate(45deg);
}

.menu.active::after {
  top: 0;
  transform: rotate(135deg);
}

/* Theme Toggle */
input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
  outline: none;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--green);
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  position: relative;
  margin-left: auto;
  right: 10px;
}

label::after {
  content: '';
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}

input:checked + label {
  background: var(--pink);
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

/* Responsive */
@media (max-width: 960px) {
  .header-container {
    padding: 1.8rem 3rem;
  }

  .menu {
    display: block;
  }

  .header-container nav {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--green);
    transition: opacity 0.25s;
  }

  .header-container nav a.button {
    background-color: var(--pink);
  }

  .header-container nav.active {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 800px) {
  label {
    position: relative;
  }
}
